terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform_tfstate*
terraform/examples
terraform/configs/doesnt_work
terraform/configs/cloud-init.yaml
terraform/protected/cloud-init_instance-data.json
terraform/protected/protected.tfvars
